#bg{
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 1900px;
    background-attachment: fixed;
}

#ingredientTable{
    border:1;
    border-spacing: 5px;
    padding: 8px;
    text-align: left;
    background-color: rgba(253, 207, 0, 0.85);
    display:block
}

#ingredientTable th, td{
    background-color: rgba(253, 207, 1);
    opacity: 100%;
}

#recipeTable{
    border:1;
    border-spacing: 5px;
    padding: 8px;
    background-color: rgba(253, 207, 1, 0.85);
    text-align: center;
    table-layout: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#recipeTable th{
    letter-spacing: 1px;
    font-size: large;
}

#recipeTable td{
    text-align: center;
    border-collapse: collapse; width: 30%;
    image-resolution: 300dpi;
}

#recipeTable img{
    width: 100%;
    height: auto;
}

#headerLogo{
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 480px) {
    #topBlock{
        display:flexbox;
        background-color: rgba(253, 207, 1);
        opacity: 100%;
        }

    #recipeUrls {
        width: 100%;
        background-color: rgba(253, 207, 1);
        opacity: 100%;
        max-width: fit-content;
        }

    #recipeImages {
        max-height: auto;
        background-color: rgba(253, 207, 1);
        opacity: 100%;
        }
    }