<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Your Recipe App</title>
  <meta name="viewport" content="width=device-width, ininital-scale=1">
  <link rel="stylesheet" href="{% static 'recipe_app/css/recipe_app.css' %}">
</head>
<body id=bg style="background-image: url('{%static 'recipe_app\images\FoodAppBG.png'%}');">
<img id=headerLogo src="{% static 'recipe_app\images\headerlogo.png' %}" alt="Recipe App Logo"  />
<h1>Welcome to the Front Page</h1>
<h1><a href="{% url 'recipe_app:recipes_home' %}">Check out our recipes!</a></h1>

{% comment%} HTML tag for heading {% endcomment%}

</body>
