<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Your Recipe App</title>
  <meta name="viewport" content="width=device-width, ininital-scale=1">
  <link rel="stylesheet" href="{% static 'recipe_app/css/recipe_app.css' %}">
</head>
<body id=bg style="background-image: url('{%static 'recipe_app\images\FoodAppBG.png'%}');">

{% comment%} HTML tag for heading {% endcomment%}
<a id=topLink href="{{recipe.get_absolute_url}}"> {{recipe.name}} </a>
</br>
<img id= ingredientImage src="{{recipe.pic.url}}" width="340" height="auto" alt="a picture of the food selected from the main page" />
<table id="ingredientTable" aria-describedby="a table showing the ingredient name, quantity of ingredient and units of measurement for the given recipe" border="1" >
  {% comment%} start of table {% endcomment%}
  <tr>
    {% comment%} the tag adds a new row {% endcomment%}
  </tr>
  <tr>
    
    <th id="ingredient name">Ingredient Name</th>
    <th id="quantity">Quantity</td>
    <th id="unit of measurement">Unit of Measurement</td>
  </tr>
  {% for ingredient in recipe_ingredient %} 
  <tr>
    <td>{{ingredient.ingredient.ingredient_name}}</td>
    <td>{{ingredient.quantity}}</td>
    <td>{{ingredient.unit_of_measurement}}</td>
  </tr>
  {% endfor %}
</table>
<table id="difficultyTable" aria-describedby="A table detailing the difficulty of a recipe in 4 varying levels">
  <tr>
    <th id="Difficulty">Difficulty</td>
  </tr>
{% for ingredient in recipe_app %} 
  <tr>
    <td>{{ingredient.calculate_difficulty}}</td>
  </tr>
{% endfor %}
</table> 
<input type=button id="backbutton" value="Previous Page" onClick="javascript:history.go(-1);">
</body>