<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Your Recipe App</title>
  <meta name="viewport" content="width=device-width, ininital-scale=1">
  <link rel="stylesheet" href="{% static 'recipe_app/css/recipe_app.css' %}">
</head>
<body id=bg style="background-image: url('{%static 'recipe_app\images\FoodAppBG.png'%}');">
<img id=headerLogo src="{% static 'recipe_app\images\headerlogo.png' %}" alt="Recipe App Logo"  />

{% comment %} HTML tag for heading {% endcomment %}

<table id="recipeTable" aria-describedby="main page table showing available recipes" border="1">
  <tr id="topBlock">
    <th id="recipeNames" >Recipe Names</th>
    <th id="recipeImages" >Recipe Images</th>
  </tr>
  {% for recipe in recipe %}
  <tr id="mainBlock">
    <td id="recipeUrls"><a href="{{recipe.get_absolute_url}}"> {{recipe.name}} </a></td>
    {% comment%} print the name of recipe {% endcomment %}
    <td id="recipeImages"><img src="{{recipe.pic.url}}" alt="picture of food related to name of recipe" width="150" height="200" /></td>
    {% comment%} display the picture of recipe {% endcomment %}
  </tr>
  {% endfor %}
</table>
<a id="logoutButton" href ="{%url 'logout' %}"> Logout </a>
</body>
