<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Your Recipe App</title>
  <meta name="viewport" content="width=device-width, ininital-scale=1">
  <link rel="stylesheet" href="{% static 'recipe_app/css/recipe_app.css' %}">
</head>
<body id=bg style="background-image: url('{%static 'recipe_app\images\FoodAppBG.png'%}');">

<h1>Your Recipe App</h1>
{% comment%} HTML tag for heading {% endcomment%}

<table border="1" cellpadding="5" cellspacing="5">
  {% comment%} start of table {% endcomment%}
  <tr>
    {% comment%} the  tag adds a new row {% endcomment%}
  </tr>
  <tr>
    <td>Recipe Names</td>
    <td>Recipe Images</td>
  </tr>
  {% for recipe in recipe_app %}
  <tr>
    <td><a href="{{recipe.get_absolute_url}}"> {{recipe.name}} </a></td>
    {% comment%} print the name of recipe {% endcomment%}
    <td><img src="{{recipe.pic.url}}" width="150" height="200" /></td>
    {% comment%} display the picture of recipe {% endcomment%}
  </tr>
  {% endfor %}
</table>
</body>
