<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8" />
  <title>Your Recipe App</title>
  <meta name="viewport" content="width=device-width, ininital-scale=1" />
  <link rel="stylesheet" href="{% static 'recipe_app/css/recipe_app.css' %}" />
</head>
<body
  id="bg"
  style="background-image: url('{%static 'recipe_app\images\FoodAppBG.png'%}')"
>
  <img
    id="headerLogo"
    src="{% static 'recipe_app\images\headerlogo.png' %}"
    alt="Recipe App Logo"
  />
  <div id="searchHeader">
    <h1>Search for Records</h1>
  </div>
  
  <div id="formInput">
    <form action="" method="POST">
      {% csrf_token %} {{form}}
      <button type="submit">search</button>
    </form>
    <br />
  </div>
<div id="searchReturn">
  {% if recipe_app_df %} {{recipe_app_df|safe}}
  <br />
  <img src="data:image/png;base64, {{chart|safe}}" />
  {% else %}
  <h3>No Records Found</h3>
  {% endif %}
</div>

  <br />
  <br />
  <a id="logoutButton" href="{%url 'logout' %}"> Logout </a>
</body>
